In [65]:
import pandas as pd

In [66]:
df = pd.read_csv(r"F:\analisis\localperfume\D1.csv")

In [67]:
df.head()

,NO,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
2,1.0,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
3,2.0,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
4,3.0,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K

In [69]:
df = df.dropna()

In [70]:
print(df.columns)

Index(['NO', 'age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       ' salary   '],
      dtype='object')

In [71]:
race_count = df['race'].value_counts()

In [72]:
average_age_men = df[df['sex'] == 'Male']['age'].mean()

In [73]:
bachelors_percentage = (df['education'] == 'Bachelors').mean() * 100

In [77]:
higher_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
if df[higher_education].shape[0] > 0:
    higher_education_rich_percentage = (df[higher_education & (df[' salary   '] == '>50K')].shape[0] / df[higher_education].shape[0]) * 100
else:
    higher_education_rich_percentage = 0

In [78]:
# Menghitung persentase orang tanpa pendidikan tinggi yang berpenghasilan lebih dari 50K
lower_education = ~higher_education
if df[lower_education].shape[0] > 0:
    lower_education_rich_percentage = (df[lower_education & (df[' salary   '] == '>50K')].shape[0] / df[lower_education].shape[0]) * 100
else:
    lower_education_rich_percentage = 0

In [79]:
min_work_hours = df['hours-per-week'].min()

In [80]:
# Menghitung persentase orang yang bekerja dengan jam kerja minimum dan berpenghasilan lebih dari 50K
if df[df['hours-per-week'] == min_work_hours].shape[0] > 0:
    rich_percentage_min_hours = (df[(df['hours-per-week'] == min_work_hours) & (df[' salary   '] == '>50K')].shape[0] / df[df['hours-per-week'] == min_work_hours].shape[0]) * 100
else:
    rich_percentage_min_hours = 0

In [81]:
# Menghitung negara dengan persentase tertinggi orang yang berpenghasilan lebih dari 50K
country_salary = df[df[' salary   '] == '>50K']['native-country'].value_counts(normalize=True) * 100
if not country_salary.empty:
    highest_earning_country = country_salary.idxmax()
    highest_earning_country_percentage = country_salary.max()
else:
    highest_earning_country = None
    highest_earning_country_percentage = 0

In [82]:
# Mengidentifikasi pekerjaan paling populer untuk yang berpenghasilan >50K di India
top_IN_occupation = df[(df['native-country'] == 'India') & (df[' salary   '] == '>50K')]['occupation'].mode()
top_IN_occupation = top_IN_occupation[0] if not top_IN_occupation.empty else None

In [83]:
results = {
    'race_count': race_count,
    'average_age_men': average_age_men,
    'bachelors_percentage': bachelors_percentage,
    'higher_education_rich_percentage': higher_education_rich_percentage,
    'lower_education_rich_percentage': lower_education_rich_percentage,
    'min_work_hours': min_work_hours,
    'rich_percentage_min_hours': rich_percentage_min_hours,
    'highest_earning_country': highest_earning_country,
    'highest_earning_country_percentage': highest_earning_country_percentage,
    'top_IN_occupation': top_IN_occupation
}

print(results)

{'race_count': race
White      3
Black      2
Name: count, dtype: int64, 'average_age_men': nan, 'bachelors_percentage': np.float64(0.0), 'higher_education_rich_percentage': 0, 'lower_education_rich_percentage': 0.0, 'min_work_hours': np.float64(13.0), 'rich_percentage_min_hours': 0.0, 'highest_earning_country': None, 'highest_earning_country_percentage': 0, 'top_IN_occupation': None}